{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
<h2>Общее число товаров: {{ total }}</h2>
<h2>Наш ассортимент товаров</h2>
    <ul>
        {% for product in products %}
        <li>
            <h2>{{ product.title }}</h2>
            <img src="{{product.image.url }}">
            {{ product.description|truncatewords:50 }}

            {{ product.price }} руб.
            <div class="clear"></div>
			<p class="link-read-post"><a href="{% url 'product_detail' product_id=product.id %}">Читать пост</a></p>
            <p class="link-read-post"><a href="{% url 'product_edit' product_id=product.id %}">Редактировать товар</a>
</p>

        </li>
        {% endfor %}
    </ul>
{% endblock %}