{% extends 'shop/base.html' %}
{% load static %}
{% block content %}

<h1>Список заказанных товаров</h1>

    <h2>За последнюю неделю:</h2>
    <ul>
        {% for product in products_week %}
            <li>{{ product.products__title }}</li>
        {% empty %}
            <li>Нет заказанных товаров</li>
        {% endfor %}
    </ul>

    <h2>За последний месяц:</h2>
    <ul>
        {% for product in products_month %}
            <li>{{ product.products__title }}</li>
        {% empty %}
            <li>Нет заказанных товаров</li>
        {% endfor %}
    </ul>

    <h2>За последний год:</h2>
    <ul>
        {% for product in products_year %}
            <li>{{ product.products__title }}</li>
        {% empty %}
            <li>Нет заказанных товаров</li>
        {% endfor %}
    </ul>

{% endblock %}