{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
  <h1>Список заказов</h1>

  <table>
    <thead>
      <tr>
        <th>Имя клиента</th>
        <th>Адресс</th>
        <th>Сумма</th>
        <th>Дата создания</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      <tr>
        <td>{{ order.client.name }}</td>
        <td>{{ order.client.address }}</td>
        <td>{{ order.time_create }}</td>
        <td>{{ order.total_amount }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="3">Нет доступных заказов.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}