{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
<body>
<div style="width: 90%; border: 1px solid #333; box-shadow: 8px 8px 5px #444; padding: 8px 12px; background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc)">
    <h1>Добро пожаловать в наш интернет-магазин!</h1>
</div>
<div class="container">
    <p style="padding: 20px;">Здесь вы найдете широкий выбор качественных товаров по отличным ценам. <br>Наш
        интернет-магазин предлагает разнообразие
        продуктов для всех возрастных категорий и интересов. У нас вы можете найти модную одежду, стильные аксессуары,
        косметику,
        товары для дома, электронику и многое другое. Мы тщательно подбираем товары, чтобы обеспечить высокое качество и
        удовлетворить потребности наших клиентов.</p>
    <p>Независимо от того, что вас интересует - модный стиль, функциональность или красота - наш интернет-магазин
        предлагает
        разнообразие опций для удовлетворения ваших потребностей. Мы постоянно обновляем наш ассортимент, чтобы
        предложить вам новые и новейшие товары.</p>
    <p>Мы стремимся предоставить непревзойденный уровень обслуживания наших клиентов. Наша команда всегда готова помочь
        вам в
        выборе товара, ответить на ваши вопросы и обеспечить приятный опыт покупок в нашем магазине.</p>
    <p>Оформление заказа у нас легкое и безопасное. Мы гарантируем безопасность ваших платежей и конфиденциальность
        вашей информации.</p>
    <p>Мы ценим каждого клиента и стремимся к высокому уровню удовлетворенности. Ваше мнение очень важно для нас,
        поэтому мы
        всегда открыты к обратной связи, предложениям и комментариям.</p>
    <p>Мы приглашаем вас ознакомиться с нашим ассортиментом и найти то, что идеально подойдет именно для вас. Благодарим
        вас за выбор нашего интернет-магазина и желаем вам приятных покупок!</p>
</div>
{% endblock %}