<!DOCTYPE html>
<html>
<head>
    <title>Название вашего интернет-магазина</title>
</head>
<body style="font-family: Arial, sans-serif;line-height: 1.5;background-color: #f5f5f5;  margin: 0;padding: 0;box-sizing: border-box">
<header style="background-color: #333;padding: 20px;color: #fff;">
    <h1 style="margin-bottom: 10px;">Добро пожаловать в наш интернет-магазин!</h1>
    <nav>
        <ul style="list-style-type: none;">
            <li style="display: inline-block;margin-right: 15px;"><a style="text-decoration: none;color: #fff;"
                                                                     href="{% url 'home' %}">Главная</a></li>
            <li style="display: inline-block;margin-right: 15px;"><a  style="text-decoration: none;color: #fff;" href="{% url 'catalog' %}">Каталог</a></li>
            <li style="display: inline-block;margin-right: 15px;"><a  style="text-decoration: none;color: #fff;" href="{% url 'about' %}">О нас</a></li>
            <li style="display: inline-block;margin-right: 15px;"><a  style="text-decoration:none;color:#fff;" href="{% url 'contact' %}">Контакты</a></li>
            <li style="display: inline-block;margin-right: 15px;"><a  style="text-decoration:none;color:#fff;" href="{% url 'create_order' %}">Сделать заказ</a></li>
            <li style="display: inline-block;margin-right: 15px;"><a  style="text-decoration:none;color:#fff;" href="{% url 'order_list' client_id=user.pk %}">Ваш заказ</a></li>
            <li style="display: inline-block;margin-right: 15px;"><a  style="text-decoration:none;color:#fff;" href="{% url 'client_list' %}">Все заказы</a></li>
            <li style="display: inline-block;margin-right: 15px;"><a  style="text-decoration:none;color:#fff;" href="{% url 'product_edit' product_id=user.pk %}">Редактировать товар</a></li>
        </ul>
    </nav>
</header>
{% block content %}{% endblock %}
<footer style=" background-color: #333;color: #fff;padding: 20px;text-align: center;">
    <p>&copy; 2023 Мой интернет-магазин. Все права принадлежат мне))).</p>
</footer>
</body>
</html>